@charset "UTF-8";
body{
	margin-left:280px;
	background:rgb(240,240,240);
}
.fram{
	margin-top:40px;
	height:800px;
	width:800px;
	color:black;
	font-size:50px;
	font-family:LiSu;
	text-indent:0.7em;	
}
.ctn{
	height:100%;
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.left{
	height:100%;
	width:55%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	text-align:justify;
}
.left-top{
	height:50%;
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

.picture{
	/*margin:30px -40px 0 0;*/
	margin-left:-200px;
	height:90%;
	width:55%;
	 /*background:url(picture2.png);*/ 
	background-repeat:no-repeat;
    background-size:80% auto;
}
.character-right{
	margin-left:100px;
	height:100%;
	width:39%;
	font-size:20px;
	line-height:20px;
	text-indent:1em;
}

.left-bottum{
	height:49%;
	width:100%;
	font-size:20px;
	text-indent:2em;
}

.right{
	height:100%;
	width:35%;
}
.right-title{
	font-size:45px;
	text-indent:0.5em;
	margin-top:8px;
}
.right-essay{
	font-size:25px;
	text-indent:1em;
}
.right-list{
	font-size:25px;
	text-indent:0em;
}




/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-19 13:15:14
 * @version $Id$
 */
