@charset "UTF-8";
.fram{
	margin-left:230px;
	height:100%;
	width:80%;
	display:flex;
	flex-direction:column;
	align-content:center;
}
.character{
	margin-top:30px;
	font-size:40px;
	font-family:LiSu;
	color:orange;
	text-indent:5.5em;
	letter-spacing:10px;
}
.ctn{
	height:650px;
	width:850px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
	align-items:center;
}
.first-eg,.second-eg,.third-eg,.fourth-eg,.fifth-eg,.sixth-eg{
	height:250px;
	width:250px;
	border:2px solid gray;
	border-radius:13px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:orange;
}

.explain{
	color:orange;
	font-size:15px;
	text-align:center;
}
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-18 16:53:41
 * @version $Id$
 */
