@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-01 09:31:31
 * @version $Id$
 */
/* .backimg{
   
	background-repeat: no-repeat;         背景图片仅显示一次
	background-position: top center;      属性设置背景图像的起始位置。
	background-attachment: fixed;         属性设置背景图像是否固定或者随着页面的其余部分滚动,fixed     当页面的其余部分滚动时，背景图像不会移动。
} */
.backimg{
	opacity: 0.5;
	border: 0px;
}

.back{
	position: fixed;
	top: 250px;
	bottom: 0;
	right: 0;
	left: 450px;
}

.fireworks{
	position: fixed;
	z-index: -1;
	pointer-events: none;
}

.cnt{
	margin-left: 200px;
	margin-top: 90px;
 	width: 65%;
 	border: 1px solid black;
 	background-color: white;
}
 .container{
 	width: 100%;
 	border: 0px solid black;
 	background-color: white;
 }

 input:-moz-placeholder { color: black; }
::-webkit-input-placeholder { color: black; }
.log-out{
	margin-top: -50px;
	position: absolute;
	margin-left: 1120px;
	position: absolute;
}
 .export{
	margin-top: 0px;
	position: absolute;
	margin-left: 1120px;
	position: absolute;
}

.ex{
	position: absolute;
	margin-left: 840px;
	margin-top: 68px;
}

 .import-img{
	margin-top: 50px;
	position: absolute;
	margin-left: 1120px;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
}



.btn-oper{
	font-size: 8px;
}

.btn-append-under-edu{
	margin-top: 240px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderEduFir{
	margin-top: 265px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderEduEnd{
	margin-top: 290px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}

.btn-delete-under-edu-mod1{
	margin-top: 380px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-append-under-edu-mod1{
	margin-top: 405px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderEduMod1Fir{
	margin-top: 430px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderEduMod1End{
	margin-top: 455px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}

.btn-append-under-work{
	margin-top: 585px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderWorkFir{
	margin-top: 610px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderWorkEnd{
	margin-top: 635px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-delete-under-work-mod1{
	margin-top: 775px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-append-under-work-mod1{
	margin-top: 800px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderWorkMod1Fir{
	margin-top: 825px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderWorkMod1End{
	margin-top: 850px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-delete-under-work-mod2{
	margin-top: 950px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-append-under-work-mod2{
	margin-top: 975px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderWorkMod2Fir{
	margin-top: 1000px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderWorkMod2End{
	margin-top: 1025px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}


.btn-append-under-club{
	margin-top: 1140px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderClubFir{
	margin-top: 1165px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderClubEnd{
	margin-top: 1190px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-delete-under-club-mod1{
	margin-top: 1330px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-append-under-club-mod1{
	margin-top: 1355px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderClubMod1Fir{
	margin-top: 1380px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderClubMod1End{
	margin-top: 1405px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}

.btn-delete-under-club-mod2{
	margin-top: 1500px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-append-under-club-mod2{
	margin-top: 1525px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderClubMod2Fir{
	margin-top: 1550px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderClubMod2End{
	margin-top: 1575px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}

.btn-append-under-else{
	margin-top: 1705px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderElseFir{
	margin-top: 1730px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteUnderElseEnd{
	margin-top: 1755px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}























 .btn-append-sum{
	margin-top: 260px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
  .btn-deleteSumFir{
	margin-top: 285px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteSumEnd{
	margin-top: 310px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}

 .btn-append-edu{
	margin-top: 410px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
  .btn-deleteEduFir{
	margin-top: 435px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteEduEnd{
	margin-top: 460px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
} 


 .btn-append-tec{
	margin-top: 580px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
 .btn-deleteTecFir{
	margin-top: 605px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteTecEnd{
	margin-top: 630px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
} 

 .btn-append-hon{
	margin-top: 780px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
 .btn-deleteHonFir{
	margin-top: 805px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteHonEnd{
	margin-top: 830px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
} 

/* .btn-append-pro-mod{
	margin-top: 900px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}*/


.btn-append-pro{
	margin-top: 900px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
 .btn-deleteProFir{
	margin-top: 925px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteProEnd{
	margin-top: 950px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
} 


 .btn-delete-pro-mod1{
	margin-top: 1100px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
} 
.btn-append-pro-mod1{
	margin-top: 1125px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
 .btn-deleteProMod1Fir{
	margin-top: 1150px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteProMod1End{
	margin-top: 1175px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
} 

 .btn-delete-pro-mod2{
	margin-top: 1250px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
} 

.btn-append-pro-mod2{
	margin-top: 1275px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
 .btn-deleteProMod2Fir{
	margin-top: 1300px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteProMod2End{
	margin-top: 1325px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
} 





.btn-append-club{
	margin-top: 1430px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
 .btn-deleteClubFir{
	margin-top: 1455px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteClubEnd{
	margin-top: 1480px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
} 


 .btn-delete-club-mod1{
	margin-top: 1620px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
} 
.btn-append-club-mod1{
	margin-top: 1645px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
 .btn-deleteClubMod1Fir{
	margin-top: 1670px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteClubMod1End{
	margin-top: 1695px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
} 

 .btn-delete-club-mod2{
	margin-top: 1780px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
} 

.btn-append-club-mod2{
	margin-top: 1805px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
 .btn-deleteClubMod2Fir{
	margin-top: 1830px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteClubMod2End{
	margin-top: 1855px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
} 




 .btn-append-else{
	margin-top: 1965px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
  .btn-deleteElseFir{
	margin-top: 1990px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}
.btn-deleteElseEnd{
	margin-top: 2015px;
	position: absolute;
	margin-left: 1120px;
	border-radius: 5px;
}













.info{
	position: fixed;
	margin-top: -50px;
	margin-left: 400px;
	border: 1px solid #5dcaf5;
	opacity: 0.7;
	width: 400px;
	height: 23px;
}

 .name{
 	width: 150px;
 	margin-top: 50px;
 	margin-left: 350px;
 	font-weight: 800;
 	font-size: 25px !important;
 	border-style: none;
 }


 .basic{
 	font-size: 15px;
 	border-style: none;
 	margin-top: -10px;
 }
 .phone{
 	width: 100px;
 	margin-left: 270px;
 	margin-top: 10px;
 }
 .email{
 	width: 150px;
 	margin-left: 4px;
 }

.curr{
	width: 55px;
 	margin-left: 255px;
}
.sex{
	width: 25px;
	margin-left: 4px;
}
.age{
	width: 37px;
	margin-left: 4px;
}
.addre{
	width: 35px;
	margin-left: 4px;
}
.coll{
	width: 110px;
 	margin-left: 4px;
}

.inten{
	width: 250px;
}

.address{
	margin-left: 270px;
	width: 350px;
}




 .preview_box{
 	margin-left: 0px;
 	margin-top: 30px;
 	width: 150px;
 }
.img{
	max-width: 100%;
	max-height: 100%;
}


.sum-header{
	padding-left: 40px;
 	font-weight: bold;
 	font-size: 20px;
 	margin-top: 30px;
 	padding-bottom: 10px;
}

 .under-edu-header{
 	padding-left: 40px;
 	font-weight: bold;
 	font-size: 20px;
 	margin-top: 30px;
 	padding-bottom: 10px;
 }
 .edu-header{
 	padding-left: 40px;
 	font-weight: bold;
 	font-size: 20px;
 	padding-bottom: 10px;
 }
  .tec-header{
 	padding-left: 40px;
 	font-weight: bold;
 	font-size: 20px;
 	padding-bottom: 10px;
 }
  .hon-header{
 	padding-left: 40px;
 	font-weight: bold;
 	font-size: 20px;
 	padding-bottom: 10px;
 }
   .pro-header{
 	padding-left: 40px;
 	font-weight: bold;
 	font-size: 20px;
 	padding-bottom: 10px;
 }





 .line{
 	width: 90%;
 	background-color: black;
 	height: 2px;
 	margin-left: 40px;
 }

 .edu-name{
 	width: 400px;
 	border-style: none;
 	margin-left: 55px;
 	padding-top: 10px;
 	font-weight: bold;
 }

 .edu-time{
 	margin-left: 130px;
 	padding-top: 10px;
 	text-align: right;
 	border-style: none;
 }

 .edu{
 	padding-left: 20px;
 }

 .list{
 	width: 94%;
 	margin-left: 15px;
 }

  .edu-major{
 	border-style: none;
 	margin-left: 55px;
 	width: 300px;
 }

 .edu-add{
 	margin-left: 228px;
 	text-align: right;
 	border-style: none;
 	margin-bottom: 10px;
 }


 .pro-ass{
 	border-style: none;
 	margin-left: 55px;
 }

 .pro-add{
 	margin-left: 348px;
 	text-align: right;
 	border-style: none;
 }